.Products-row {
    display: flex;
    justify-content: space-around;
    max-width: 85 vw;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
}

.product-card {
    border: 1px solid #b4b0b0;
    border-radius: 5px;
    list-style: none;
    overflow: hidden;
    width: 250px;
}

.product-card img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: top;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.product-info h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.product-info p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 11px;
}

.product-info button {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: rgb(97, 96, 96);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.product-info p.stock {
    color: red;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
}

.Ver-Detalle {
    text-decoration: underline;
    color: #2d2d2d !important;
    background-color: white !important;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    border: none;
}

.Ver-Detalle:hover {
    color: blue !important;
}