.cart-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

.cart-element-detail {
    margin-right: 10px;
    max-width: 150px;
    padding: 10px;
}

.no-products-mssg {
    text-align: center;
}

.back-to-list-link {
    color: blue;
    text-align: center;
    display: block;
}

.remove-item-button {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    width: 50px;
}

.cart-table-titles {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.last-item-title {
    width: 50px;
}

.cart-total {
    color: red;
    font-weight: 700;
    float: right;
}

.action-buttons {
    display: flex;
}

.boton-orden {
    margin-left: 30px;
}

.boton-orden,
.clear-cart-button {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #000000;
}

.boton-orden:hover,
.clear-cart-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 15px;
    padding: 10px;
}